
<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings xdt:Transform="Replace">
    <add name="AzureWebJobsDashboard"  connectionString="#{OrderProcessorJobHost.DashboardConnectionString}" />
    <add name="AzureWebJobsStorage"    connectionString="#{OrderProcessorJobHost.StorageConnectionString}" />
    <add name="AzureWebJobsServiceBus" connectionString="#{OrderProcessorJobHost.ServiceBusConnectionString}" />
  </connectionStrings>


  <appSettings xdt:Transform="Replace">
    <!-- Host Configuration -->
    <add key="OrderProcessorJobHost.DashboardConnectionString"      value="#{OrderProcessorJobHost.DashboardConnectionString}" />
    <add key="OrderProcessorJobHost.StorageConnectionString"        value="#{OrderProcessorJobHost.StorageConnectionString}" />
    <add key="OrderProcessorJobHost.ServiceBusConnectionString"     value="#{OrderProcessorJobHost.ServiceBusConnectionString}" />
    <add key="OrderProcessorJobHost.CommandRetryMaxCount"           value="#{OrderProcessorJobHost.CommandRetryMaxCount}" />
    <add key="OrderProcessorJobHost.CommandRetryExponentialSeconds" value="#{OrderProcessorJobHost.CommandRetryExponentialSeconds}" />
    <add key="OrderProcessorJobHost.CommandRetryJitterSeconds"      value="#{OrderProcessorJobHost.CommandRetryJitterSeconds}" />

    <!-- Order Processing Configuration -->
    <add key="OrderProcessor.ServiceLevelAgreementCode"         value="#{OrderProcessor.ServiceLevelAgreementCode}" />
    <add key="OrderProcessor.PartnerSubCode"                    value="#{OrderProcessor.PartnerSubCode}" />
    <add key="OrderProcessor.OperationRetryMaxCount"            value="#{OrderProcessor.OperationRetryMaxCount}" />
    <add key="OrderProcessor.OperationRetryExponentialSeconds"  value="#{OrderProcessor.OperationRetryExponentialSeconds}" />
    <add key="OrderProcessor.OperationRetryJitterSeconds"       value="#{OrderProcessor.OperationRetryJitterSeconds}" />

    <add key="SkuMetadataProcessor.MetadataCacheDurationMinutes" value="#{SkuMetadataProcessor.MetadataCacheDurationMinutes}" />

    <!-- Logging Configuration -->
    <add key="Logging.ApplicationInsightsKey"                      value="#{Logging.ApplicationInsightsKey}" />
    <add key="Logging.DependencySlowResponseThresholdMilliseconds" value="#{Logging.DependencySlowResponseThresholdMilliseconds}" />

    <!-- Error Handling Configuration -->
    <add key="ErrorHandling.ExceptionDetailsEnabled" value="#{ErrorHandling.ExceptionDetailsEnabled}" />
    
    <!-- Command Publisher Configuration -->
    <add key="ProcessOrderServiceBusQueueCommandPublisher.ServiceBusConnectionString"                  value="#{ProcessOrderServiceBusCommandPublisher.ServiceBusConnectionString}" />
    <add key="ProcessOrderServiceBusQueueCommandPublisher.QueueName"                                   value="#{ProcessOrderServiceBusCommandPublisher.QueueName}" />
    <add key="ProcessOrderServiceBusQueueCommandPublisher.RetryMaximumAttempts"                        value="#{ProcessOrderServiceBusQueueCommandPublisher.RetryMaximumAttempts}" />
    <add key="ProcessOrderServiceBusQueueCommandPublisher.RetryMinimalBackoffTimeSeconds"              value="#{ProcessOrderServiceBusQueueCommandPublisher.RetryMinimalBackoffTimeSeconds}" />
    <add key="ProcessOrderServiceBusQueueCommandPublisher.RetryMaximumlBackoffTimeSeconds"             value="#{ProcessOrderServiceBusQueueCommandPublisher.RetryMaximumlBackoffTimeSeconds}" />
    <add key="SubmitOrderForProductionServiceBusQueueCommandPublisher.ServiceBusConnectionString"      value="#{SubmitOrderForProductionServiceBusQueueCommandPublisher.ServiceBusConnectionString}" />
    <add key="SubmitOrderForProductionServiceBusQueueCommandPublisher.QueueName"                       value="#{SubmitOrderForProductionServiceBusQueueCommandPublisher.QueueName}" />
    <add key="SubmitOrderForProductionServiceBusQueueCommandPublisher.RetryMaximumAttempts"            value="#{SubmitOrderForProductionServiceBusQueueCommandPublisher.RetryMaximumAttempts}" />
    <add key="SubmitOrderForProductionServiceBusQueueCommandPublisher.RetryMinimalBackoffTimeSeconds"  value="#{SubmitOrderForProductionServiceBusQueueCommandPublisher.RetryMinimalBackoffTimeSeconds}" />
    <add key="SubmitOrderForProductionServiceBusQueueCommandPublisher.RetryMaximumlBackoffTimeSeconds" value="#{SubmitOrderForProductionServiceBusQueueCommandPublisher.RetryMaximumlBackoffTimeSeconds}" />
    <add key="NotifyOfFatalFailureServiceBusQueueCommandPublisher.ServiceBusConnectionString"          value="#{NotifyOfFatalFailureServiceBusQueueCommandPublisher.ServiceBusConnectionString}" />
    <add key="NotifyOfFatalFailureServiceBusQueueCommandPublisher.QueueName"                           value="#{NotifyOfFatalFailureServiceBusQueueCommandPublisher.QueueName}" />
    <add key="NotifyOfFatalFailureServiceBusQueueCommandPublisher.RetryMaximumAttempts"                value="#{NotifyOfFatalFailureServiceBusQueueCommandPublisher.RetryMaximumAttempts}" />
    <add key="NotifyOfFatalFailureServiceBusQueueCommandPublisher.RetryMinimalBackoffTimeSeconds"      value="#{NotifyOfFatalFailureServiceBusQueueCommandPublisher.RetryMinimalBackoffTimeSeconds}" />
    <add key="NotifyOfFatalFailureServiceBusQueueCommandPublisher.RetryMaximumlBackoffTimeSeconds"     value="#{NotifyOfFatalFailureServiceBusQueueCommandPublisher.RetryMaximumlBackoffTimeSeconds}" />

    <!-- Event Publisher Configuration -->
    <add key="EventBaseServiceBusTopicEventPublisher.ServiceBusConnectionString"      value="#{EventBaseServiceBusTopicEventPublisher.ServiceBusConnectionString}" />
    <add key="EventBaseServiceBusTopicEventPublisher.TopicName"                       value="#{EventBaseServiceBusTopicEventPublisher.TopicName}" />
    <add key="EventBaseServiceBusTopicEventPublisher.RetryMaximumAttempts"            value="#{EventBaseServiceBusTopicEventPublisher.RetryMaximumAttempts}" />
    <add key="EventBaseServiceBusTopicEventPublisher.RetryMinimalBackoffTimeSeconds"  value="#{EventBaseServiceBusTopicEventPublisher.RetryMinimalBackoffTimeSeconds}" />
    <add key="EventBaseServiceBusTopicEventPublisher.RetryMaximumlBackoffTimeSeconds" value="#{EventBaseServiceBusTopicEventPublisher.RetryMaximumlBackoffTimeSeconds}" />

    <!-- Storage Configuration -->
    <add key="SkuMetadataBlobStorage.StorageConnectionString" value="#{SkuMetadataBlobStorage.StorageConnectionString}" />
    <add key="SkuMetadataBlobStorage.Container"               value="#{SkuMetadataBlobStorage.Container}" />

    <add key="OrderSubmissionBlobStorage.StorageConnectionString" value="#{OrderSubmissionBlobStorage.StorageConnectionString}" />
    <add key="OrderSubmissionBlobStorage.PendingContainer"        value="#{OrderSubmissionBlobStorage.PendingContainer}" />
    <add key="OrderSubmissionBlobStorage.CompletedContainer"      value="#{OrderSubmissionBlobStorage.CompletedContainer}" />

    <!-- External Communication -->
    <add key="orderProductionClient.RequestProtocol"               value="#{orderProductionClient.RequestProtocol}" />
    <add key="orderProductionClient.ServiceHostAddress"            value="#{orderProductionClient.ServiceHostAddress}" />
    <add key="orderProductionClient.CreateOrderUrlTemplate"        value="#{orderProductionClient.CreateOrderUrlTemplate}" />
    <add key="orderProductionClient.ClientCertificateThumbprint"   value="#{orderProductionClient.ClientCertificateThumbprint}" />
    <add key="orderProductionClient.StaticHeadersJson"             value="#{orderProductionClient.StaticHeadersJson}" />
    <add key="orderProductionClient.ConnectionLeaseTimeoutSeconds" value="#{orderProductionClient.ConnectionLeaseTimeoutSeconds}" />
    <add key="orderProductionClient.RequestTimeoutSeconds"         value="#{orderProductionClient.RequestTimeoutSeconds}" />
    <add key="orderProductionClient.RetryMaxCount"                 value="#{orderProductionClient.RetryMaxCount}" />
    <add key="orderProductionClient.RetryExponentialSeconds"       value="#{orderProductionClient.RetryExponentialSeconds}" />

    <add key="EcommerceClient.RequestProtocol"               value="#{EcommerceClient.RequestProtocol}" />        
    <add key="EcommerceClient.ServiceHostAddress"            value="#{EcommerceClient.ServiceHostAddress}" />
    <add key="EcommerceClient.GetOrderUrlTemplate"           value="#{EcommerceClient.GetOrderUrlTemplate}" />
    <add key="EcommerceClient.ClientCertificateThumbprint"   value="#{EcommerceClient.ClientCertificateThumbprint}" />
    <add key="EcommerceClient.StaticHeadersJson"             value="#{EcommerceClient.StaticHeadersJson}" />
    <add key="EcommerceClient.ConnectionLeaseTimeoutSeconds" value="#{EcommerceClient.ConnectionLeaseTimeoutSeconds}" />
    <add key="EcommerceClient.RequestTimeoutSeconds"         value="#{EcommerceClient.RequestTimeoutSeconds}" />
    <add key="EcommerceClient.RetryMaxCount"                 value="#{EcommerceClient.RetryMaxCount}" />
    <add key="EcommerceClient.RetryExponentialSeconds"       value="#{EcommerceClient.RetryExponentialSeconds}" />
  </appSettings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />          
      <customErrors mode="RemoteOnly" xdt:Transform="Replace" />
  </system.web>
</configuration>