<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!-- The format of the connection string is "DefaultEndpointsProtocol=https;AccountName=NAME;AccountKey=KEY" -->
    <!-- For local execution, the value can be set either in this config file or through environment variables -->
    <add name="AzureWebJobsDashboard" connectionString="" />
    <add name="AzureWebJobsStorage" connectionString="" />
    <add name="AzureWebJobsServiceBus" connectionString="" />
  </connectionStrings>
  
  <appSettings>
    <!-- Host Configuration -->
    <add key="OrderSubmitterJobHost.DashboardConnectionString" value="" />
    <add key="OrderSubmitterJobHost.StorageConnectionString" value="" />
    <add key="OrderSubmitterJobHost.ServiceBusConnectionString" value="[[ REPLACE FOR LOCAL ]]" />
    <add key="OrderSubmitterJobHost.CommandRetryMaxCount" value="5" />
    <add key="OrderSubmitterJobHost.CommandRetryExponentialSeconds" value="5" />
    <add key="OrderSubmitterJobHost.CommandRetryJitterSeconds" value="5" />

    <!-- Order Submission Configuration -->
    <add key="OrderSubmitter.OperationRetryMaxCount" value="3" />
    <add key="OrderSubmitter.OperationRetryExponentialSeconds" value="1" />
    <add key="OrderSubmitter.OperationRetryJitterSeconds" value="1" />
    
    <!-- Logging Configuration -->
    <add key="Logging.ApplicationInsightsKey" value="" />
    <add key="Logging.DependencySlowResponseThresholdMilliseconds" value="100" />

    <!-- Error Handling Configuration -->
    <add key="ErrorHandling.ExceptionDetailsEnabled" value="true" />

    <!-- Command Publisher Configuration -->    
    <add key="SubmitOrderForProductionServiceBusQueueCommandPublisher.ServiceBusConnectionString" value="[[ REPLACE FOR LOCAL ]]" />
    <add key="SubmitOrderForProductionServiceBusQueueCommandPublisher.QueueName" value="submit-order" />
    <add key="SubmitOrderForProductionServiceBusQueueCommandPublisher.RetryMaximumAttempts" value="5" />
    <add key="SubmitOrderForProductionServiceBusQueueCommandPublisher.RetryMinimalBackoffTimeSeconds" value="1" />
    <add key="SubmitOrderForProductionServiceBusQueueCommandPublisher.RetryMaximumlBackoffTimeSeconds" value="30" />
    <add key="NotifyOfFatalFailureServiceBusQueueCommandPublisher.ServiceBusConnectionString" value="[[ REPLACE FOR LOCAL ]]" />
    <add key="NotifyOfFatalFailureServiceBusQueueCommandPublisher.QueueName" value="notify-order-failure" />
    <add key="NotifyOfFatalFailureServiceBusQueueCommandPublisher.RetryMaximumAttempts" value="5" />
    <add key="NotifyOfFatalFailureServiceBusQueueCommandPublisher.RetryMinimalBackoffTimeSeconds" value="1" />
    <add key="NotifyOfFatalFailureServiceBusQueueCommandPublisher.RetryMaximumlBackoffTimeSeconds" value="30" />

    <!-- Event Publisher Configuration -->
    <add key="EventBaseServiceBusTopicEventPublisher.ServiceBusConnectionString" value="[[ REPLACE FOR LOCAL ]]" />
    <add key="EventBaseServiceBusTopicEventPublisher.TopicName" value="fulfillment-events" />
    <add key="EventBaseServiceBusTopicEventPublisher.RetryMaximumAttempts" value="5" />
    <add key="EventBaseServiceBusTopicEventPublisher.RetryMinimalBackoffTimeSeconds" value="1" />
    <add key="EventBaseServiceBusTopicEventPublisher.RetryMaximumlBackoffTimeSeconds" value="30" />

    <!-- Storage Configuration -->
    <add key="OrderSubmissionBlobStorage.StorageConnectionString" value="[[ REPLACE FOR LOCAL ]]" />
    <add key="OrderSubmissionBlobStorage.PendingContainer" value="fulfillment-pending-submission" />
    <add key="OrderSubmissionBlobStorage.CompletedContainer" value="fulfillment-completed" />

    <!-- External Communication -->
    <add key="orderProductionClient.RequestProtocol" value="https" />
    <add key="orderProductionClient.ServiceHostAddress" value="[[ REPLACE FOR LOCAL ]]" />
    <add key="orderProductionClient.CreateOrderUrlTemplate" value="/partners/{partner}/orders" />
    <add key="orderProductionClient.ClientCertificateThumbprint" value="" />
    <add key="orderProductionClient.StaticHeadersJson" value="{ 'Authorization' : 'SharedSecret secret=[[ REPLACE FOR LOCAL ]]' }" />
    <add key="orderProductionClient.ConnectionLeaseTimeoutSeconds" value="300" />
    <add key="orderProductionClient.RequestTimeoutSeconds" value="30" />
    <add key="orderProductionClient.RetryMaxCount" value="3" />
    <add key="orderProductionClient.RetryExponentialSeconds" value="1" />
           
    <add key="EcommerceClient.RequestProtocol" value="https" />
    <add key="EcommerceClient.ServiceHostAddress" value="[[ REPLACE FOR LOCAL ]]" />
    <add key="EcommerceClient.GetOrderUrlTemplate" value="/orders/{order}" />
    <add key="EcommerceClient.ClientCertificateThumbprint" value="" />
    <add key="EcommerceClient.StaticHeadersJson" value="" />
    <add key="EcommerceClient.ConnectionLeaseTimeoutSeconds" value="300" />
    <add key="EcommerceClient.RequestTimeoutSeconds" value="30" />
    <add key="EcommerceClient.RetryMaxCount" value="3" />
    <add key="EcommerceClient.RetryExponentialSeconds" value="1" />
  </appSettings>

  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.4.0.0" newVersion="8.4.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.3.0" newVersion="5.8.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.3.0" newVersion="5.8.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.3.0" newVersion="5.8.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Azure.KeyVault.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.1" newVersion="4.0.2.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ApplicationInsights" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.4.0.0" newVersion="2.4.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <extensions>
      <!-- In this extension section we are introducing all known service bus extensions. User can remove the ones they don't need. -->
      <behaviorExtensions>
        <add name="connectionStatusBehavior" type="Microsoft.ServiceBus.Configuration.ConnectionStatusElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="transportClientEndpointBehavior" type="Microsoft.ServiceBus.Configuration.TransportClientEndpointBehaviorElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="serviceRegistrySettings" type="Microsoft.ServiceBus.Configuration.ServiceRegistrySettingsElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </behaviorExtensions>
      <bindingElementExtensions>
        <add name="netMessagingTransport" type="Microsoft.ServiceBus.Messaging.Configuration.NetMessagingTransportExtensionElement, Microsoft.ServiceBus,  Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="tcpRelayTransport" type="Microsoft.ServiceBus.Configuration.TcpRelayTransportElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="httpRelayTransport" type="Microsoft.ServiceBus.Configuration.HttpRelayTransportElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="httpsRelayTransport" type="Microsoft.ServiceBus.Configuration.HttpsRelayTransportElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="onewayRelayTransport" type="Microsoft.ServiceBus.Configuration.RelayedOnewayTransportElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </bindingElementExtensions>
      <bindingExtensions>
        <add name="basicHttpRelayBinding" type="Microsoft.ServiceBus.Configuration.BasicHttpRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="webHttpRelayBinding" type="Microsoft.ServiceBus.Configuration.WebHttpRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="ws2007HttpRelayBinding" type="Microsoft.ServiceBus.Configuration.WS2007HttpRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="netTcpRelayBinding" type="Microsoft.ServiceBus.Configuration.NetTcpRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="netOnewayRelayBinding" type="Microsoft.ServiceBus.Configuration.NetOnewayRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="netEventRelayBinding" type="Microsoft.ServiceBus.Configuration.NetEventRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="netMessagingBinding" type="Microsoft.ServiceBus.Messaging.Configuration.NetMessagingBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </bindingExtensions>
    </extensions>
  </system.serviceModel>
</configuration>
