
<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings xdt:Transform="Replace">
    <add name="AzureWebJobsDashboard"  connectionString="#{OrderSubmitterJobHost.DashboardConnectionString}" />
    <add name="AzureWebJobsStorage"    connectionString="#{OrderSubmitterJobHost.StorageConnectionString}" />
    <add name="AzureWebJobsServiceBus" connectionString="#{OrderSubmitterJobHost.ServiceBusConnectionString}" />
  </connectionStrings>


  <appSettings xdt:Transform="Replace">
    <!-- Host Configuration -->
    <add key="OrderSubmitterJobHost.DashboardConnectionString"      value="#{OrderSubmitterJobHost.DashboardConnectionString}" />
    <add key="OrderSubmitterJobHost.StorageConnectionString"        value="#{OrderSubmitterJobHost.StorageConnectionString}" />
    <add key="OrderSubmitterJobHost.ServiceBusConnectionString"     value="#{OrderSubmitterJobHost.ServiceBusConnectionString}" />
    <add key="OrderSubmitterJobHost.CommandRetryMaxCount"           value="#{OrderSubmitterJobHost.CommandRetryMaxCount}" />
    <add key="OrderSubmitterJobHost.CommandRetryExponentialSeconds" value="#{OrderSubmitterJobHost.CommandRetryExponentialSeconds}" />
    <add key="OrderSubmitterJobHost.CommandRetryJitterSeconds"      value="#{OrderSubmitterJobHost.CommandRetryJitterSeconds}" />

    <!-- Order Submission Configuration -->
    <add key="OrderSubmitter.OperationRetryMaxCount"           value="#{OrderSubmitter.OperationRetryMaxCount}" />
    <add key="OrderSubmitter.OperationRetryExponentialSeconds" value="#{OrderSubmitter.OperationRetryExponentialSeconds}" />
    <add key="OrderSubmitter.OperationRetryJitterSeconds"      value="#{OrderSubmitter.OperationRetryJitterSeconds}" />

    <!-- Order Processing Configuration -->
    <add key="SkuMetadataProcessor.MetadataCacheDurationMinutes" value="#{SkuMetadataProcessor.MetadataCacheDurationMinutes}" />

    <!-- Logging Configuration -->
    <add key="Logging.ApplicationInsightsKey"                      value="#{Logging.ApplicationInsightsKey}" />
    <add key="Logging.DependencySlowResponseThresholdMilliseconds" value="#{Logging.DependencySlowResponseThresholdMilliseconds}" />

    <!-- Error Handling Configuration -->
    <add key="ErrorHandling.ExceptionDetailsEnabled" value="#{ErrorHandling.ExceptionDetailsEnabled}" />

    <!-- Command Publisher Configuration -->
    <add key="SubmitOrderForProductionServiceBusQueueCommandPublisher.ServiceBusConnectionString"      value="#{SubmitOrderForProductionServiceBusQueueCommandPublisher.ServiceBusConnectionString}" />
    <add key="SubmitOrderForProductionServiceBusQueueCommandPublisher.QueueName"                       value="#{SubmitOrderForProductionServiceBusQueueCommandPublisher.QueueName}" />
    <add key="SubmitOrderForProductionServiceBusQueueCommandPublisher.RetryMaximumAttempts"            value="#{SubmitOrderForProductionServiceBusQueueCommandPublisher.RetryMaximumAttempts}" />
    <add key="SubmitOrderForProductionServiceBusQueueCommandPublisher.RetryMinimalBackoffTimeSeconds"  value="#{SubmitOrderForProductionServiceBusQueueCommandPublisher.RetryMinimalBackoffTimeSeconds}" />
    <add key="SubmitOrderForProductionServiceBusQueueCommandPublisher.RetryMaximumlBackoffTimeSeconds" value="#{SubmitOrderForProductionServiceBusQueueCommandPublisher.RetryMaximumlBackoffTimeSeconds}" />
    <add key="NotifyOfFatalFailureServiceBusQueueCommandPublisher.ServiceBusConnectionString"          value="#{NotifyOfFatalFailureServiceBusQueueCommandPublisher.ServiceBusConnectionString}" />
    <add key="NotifyOfFatalFailureServiceBusQueueCommandPublisher.QueueName"                           value="#{NotifyOfFatalFailureServiceBusQueueCommandPublisher.QueueName}" />
    <add key="NotifyOfFatalFailureServiceBusQueueCommandPublisher.RetryMaximumAttempts"                value="#{NotifyOfFatalFailureServiceBusQueueCommandPublisher.RetryMaximumAttempts}" />
    <add key="NotifyOfFatalFailureServiceBusQueueCommandPublisher.RetryMinimalBackoffTimeSeconds"      value="#{NotifyOfFatalFailureServiceBusQueueCommandPublisher.RetryMinimalBackoffTimeSeconds}" />
    <add key="NotifyOfFatalFailureServiceBusQueueCommandPublisher.RetryMaximumlBackoffTimeSeconds"     value="#{NotifyOfFatalFailureServiceBusQueueCommandPublisher.RetryMaximumlBackoffTimeSeconds}" />

    <!-- Event Publisher Configuration -->
    <add key="EventBaseServiceBusTopicEventPublisher.ServiceBusConnectionString"      value="#{EventBaseServiceBusTopicEventPublisher.ServiceBusConnectionString}" />
    <add key="EventBaseServiceBusTopicEventPublisher.TopicName"                       value="#{EventBaseServiceBusTopicEventPublisher.TopicName}" />
    <add key="EventBaseServiceBusTopicEventPublisher.RetryMaximumAttempts"            value="#{EventBaseServiceBusTopicEventPublisher.RetryMaximumAttempts}" />
    <add key="EventBaseServiceBusTopicEventPublisher.RetryMinimalBackoffTimeSeconds"  value="#{EventBaseServiceBusTopicEventPublisher.RetryMinimalBackoffTimeSeconds}" />
    <add key="EventBaseServiceBusTopicEventPublisher.RetryMaximumlBackoffTimeSeconds" value="#{EventBaseServiceBusTopicEventPublisher.RetryMaximumlBackoffTimeSeconds}" />

    <!-- Storage Configuration -->
    <add key="OrderSubmissionBlobStorage.StorageConnectionString" value="#{OrderSubmissionBlobStorage.StorageConnectionString}" />
    <add key="OrderSubmissionBlobStorage.PendingContainer"        value="#{OrderSubmissionBlobStorage.PendingContainer}" />
    <add key="OrderSubmissionBlobStorage.CompletedContainer"      value="#{OrderSubmissionBlobStorage.CompletedContainer}" />

    <!-- External Communication -->
    <add key="orderProductionClient.RequestProtocol"               value="#{orderProductionClient.RequestProtocol}" />
    <add key="orderProductionClient.ServiceHostAddress"            value="#{orderProductionClient.ServiceHostAddress}" />
    <add key="orderProductionClient.CreateOrderUrlTemplate"        value="#{orderProductionClient.CreateOrderUrlTemplate}" />
    <add key="orderProductionClient.ClientCertificateThumbprint"   value="#{orderProductionClient.ClientCertificateThumbprint}" />
    <add key="orderProductionClient.StaticHeadersJson"             value="#{orderProductionClient.StaticHeadersJson}" />
    <add key="orderProductionClient.ConnectionLeaseTimeoutSeconds" value="#{orderProductionClient.ConnectionLeaseTimeoutSeconds}" />
    <add key="orderProductionClient.RequestTimeoutSeconds"         value="#{orderProductionClient.RequestTimeoutSeconds}" />
    <add key="orderProductionClient.RetryMaxCount"                 value="#{orderProductionClient.RetryMaxCount}" />
    <add key="orderProductionClient.RetryExponentialSeconds"       value="#{orderProductionClient.RetryExponentialSeconds}" />

    <add key="EcommerceClient.RequestProtocol"               value="#{EcommerceClient.RequestProtocol}" />        
    <add key="EcommerceClient.ServiceHostAddress"            value="#{EcommerceClient.ServiceHostAddress}" />
    <add key="EcommerceClient.GetOrderUrlTemplate"           value="#{EcommerceClient.GetOrderUrlTemplate}" />
    <add key="EcommerceClient.ClientCertificateThumbprint"   value="#{EcommerceClient.ClientCertificateThumbprint}" />
    <add key="EcommerceClient.StaticHeadersJson"             value="#{EcommerceClient.StaticHeadersJson}" />
    <add key="EcommerceClient.ConnectionLeaseTimeoutSeconds" value="#{EcommerceClient.ConnectionLeaseTimeoutSeconds}" />
    <add key="EcommerceClient.RequestTimeoutSeconds"         value="#{EcommerceClient.RequestTimeoutSeconds}" />
    <add key="EcommerceClient.RetryMaxCount"                 value="#{EcommerceClient.RetryMaxCount}" />
    <add key="EcommerceClient.RetryExponentialSeconds"       value="#{EcommerceClient.RetryExponentialSeconds}" />
  </appSettings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />          
      <customErrors mode="RemoteOnly" xdt:Transform="Replace" />
  </system.web>
</configuration>