
<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings xdt:Transform="Replace">
    <add name="AzureWebJobsDashboard"  connectionString="#{NotifierJobHost.DashboardConnectionString}" />
    <add name="AzureWebJobsStorage"    connectionString="#{NotifierJobHost.StorageConnectionString}" />
    <add name="AzureWebJobsServiceBus" connectionString="#{NotifierJobHost.ServiceBusConnectionString}" />
  </connectionStrings>


  <appSettings xdt:Transform="Replace">
    <!-- Host Configuration -->
    <add key="NotifierJobHost.DashboardConnectionString"      value="#{NotifierJobHost.DashboardConnectionString}" />
    <add key="NotifierJobHost.StorageConnectionString"        value="#{NotifierJobHost.StorageConnectionString}" />
    <add key="NotifierJobHost.ServiceBusConnectionString"     value="#{NotifierJobHost.ServiceBusConnectionString}" />
    <add key="NotifierJobHost.CommandRetryMaxCount"           value="#{NotifierJobHost.CommandRetryMaxCount}" />
    <add key="NotifierJobHost.CommandRetryExponentialSeconds" value="#{NotifierJobHost.CommandRetryExponentialSeconds}" />
    <add key="NotifierJobHost.CommandRetryJitterSeconds"      value="#{NotifierJobHost.CommandRetryJitterSeconds}" />

    <!-- Order Processing Configuration -->
    <add key="SkuMetadataProcessor.MetadataCacheDurationMinutes" value="#{SkuMetadataProcessor.MetadataCacheDurationMinutes}" />

    <!-- Logging Configuration -->
    <add key="Logging.ApplicationInsightsKey"                      value="#{Logging.ApplicationInsightsKey}" />
    <add key="Logging.DependencySlowResponseThresholdMilliseconds" value="#{Logging.DependencySlowResponseThresholdMilliseconds}" />

    <!-- Error Handling Configuration -->
    <add key="ErrorHandling.ExceptionDetailsEnabled" value="#{ErrorHandling.ExceptionDetailsEnabled}" />

    <!-- Command Publisher Configuration -->    
    <add key="NotifyOfFatalFailureServiceBusQueueCommandPublisher.ServiceBusConnectionString"      value="#{NotifyOfFatalFailureServiceBusQueueCommandPublisher.ServiceBusConnectionString}" />
    <add key="NotifyOfFatalFailureServiceBusQueueCommandPublisher.QueueName"                       value="#{NotifyOfFatalFailureServiceBusQueueCommandPublisher.QueueName}" />
    <add key="NotifyOfFatalFailureServiceBusQueueCommandPublisher.RetryMaximumAttempts"            value="#{NotifyOfFatalFailureServiceBusQueueCommandPublisher.RetryMaximumAttempts}" />
    <add key="NotifyOfFatalFailureServiceBusQueueCommandPublisher.RetryMinimalBackoffTimeSeconds"  value="#{NotifyOfFatalFailureServiceBusQueueCommandPublisher.RetryMinimalBackoffTimeSeconds}" />
    <add key="NotifyOfFatalFailureServiceBusQueueCommandPublisher.RetryMaximumlBackoffTimeSeconds" value="#{NotifyOfFatalFailureServiceBusQueueCommandPublisher.RetryMaximumlBackoffTimeSeconds}" />
                                                                                              
    <!-- Event Publisher Configuration -->
    <add key="EventBaseServiceBusTopicEventPublisher.ServiceBusConnectionString"      value="#{EventBaseServiceBusTopicEventPublisher.ServiceBusConnectionString}" />
    <add key="EventBaseServiceBusTopicEventPublisher.TopicName"                       value="#{EventBaseServiceBusTopicEventPublisher.TopicName}" />
    <add key="EventBaseServiceBusTopicEventPublisher.RetryMaximumAttempts"            value="#{EventBaseServiceBusTopicEventPublisher.RetryMaximumAttempts}" />
    <add key="EventBaseServiceBusTopicEventPublisher.RetryMinimalBackoffTimeSeconds"  value="#{EventBaseServiceBusTopicEventPublisher.RetryMinimalBackoffTimeSeconds}" />
    <add key="EventBaseServiceBusTopicEventPublisher.RetryMaximumlBackoffTimeSeconds" value="#{EventBaseServiceBusTopicEventPublisher.RetryMaximumlBackoffTimeSeconds}" />

    <!--Notifier Configuration -->
    <add key="EmailNotifier.Enabled"                          value="#{EmailNotifier.Enabled}" />
    <add key="EmailNotifier.SmtpHostAddress"                  value="#{EmailNotifier.SmtpHostAddress}" />
    <add key="EmailNotifier.SmtpPort"                         value="#{EmailNotifier.SmtpPort}" />
    <add key="EmailNotifier.SmtpUserName"                     value="#{EmailNotifier.SmptUserName}" />
    <add key="EmailNotifier.SmptPasword"                      value="#{EmailNotifier.SmptPasword}" />
    <add key="EmailNotifier.SmtpTimeoutMilliseconds"          value="#{EmailNotifier.SmtpTimeoutMilliseconds}" />
    <add key="EmailNotifier.ToEmailAddressList"               value="#{EmailNotifier.ToEmailAddressList}" />
    <add key="EmailNotifier.FromEmailAddress"                 value="#{EmailNotifier.FromEmailAddress}" />
    <add key="EmailNotifier.FailureNotificationSubject"       value="#{EmailNotifier.FailureNotificationSubject}" />
    <add key="EmailNotifier.FailureNotificationBody"          value="#{EmailNotifier.FailureNotificationBody}" />
    <add key="EmailNotifier.DeadLetterNotificationSubject"    value="#{EmailNotifier.DeadLetterNotificationSubject}" />
    <add key="EmailNotifier.DeadLetterNotificationBody"       value="#{EmailNotifier.DeadLetterNotificationBody}" />
    <add key="EmailNotifier.OperationRetryMaxCount"           value="#{EmailNotifier.OperationRetryMaxCount}" />
    <add key="EmailNotifier.OperationRetryExponentialSeconds" value="#{EmailNotifier.OperationRetryExponentialSeconds}" />
    <add key="EmailNotifier.OperationRetryJitterSeconds"      value="#{EmailNotifier.OperationRetryJitterSeconds}" />
  </appSettings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />          
      <customErrors mode="RemoteOnly" xdt:Transform="Replace" />
  </system.web>
</configuration>