<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <appSettings xdt:Transform="Replace">
    <!-- Logging Configuration -->
    <add key="Logging.ApplicationInsightsKey"                      value="#{Logging.ApplicationInsightsKey}" />
    <add key="Logging.DependencySlowResponseThresholdMilliseconds" value="#{Logging.DependencySlowResponseThresholdMilliseconds}" />

    <!-- Error Handling Configuration -->
    <add key="ErrorHandling.ExceptionDetailsEnabled" value="#{ErrorHandling.ExceptionDetailsEnabled}" />

    <!-- Security Policy Configuration -->    
    <add key="AuthenticatedPrincipalAuthorizationPolicy.Enabled"                  value="#{AuthenticatedPrincipalAuthorizationPolicy.Enabled}" />
    <add key="PartnerAuthorizationPolicy.Enabled"                                 value="#{PartnerAuthorizationPolicy.Enabled}" />
    <add key="PriviledgedOperationAuthorizationPolicy.Enabled"                    value="#{PriviledgedOperationAuthorizationPolicy.Enabled}" />
    <add key="RequireSslAuthorizationPolicy.Enabled"                              value="#{RequireSslAuthorizationPolicy.Enabled}" />
    <add key="RequireSslAuthorizationPolicy.AllowLoopbackException"               value="#{RequireSslAuthorizationPolicy.AllowLoopbackException}" />
    <add key="ClientCertificateAuthentication.Enabled"                            value="#{ClientCertificateAuthentication.Enabled}" />
    <add key="ClientCertificateAuthentication.EnforceLocalCertificateValidation"  value="#{ClientCertificateAuthentication.EnforceLocalCertificateValidation}" />
    <add key="ClientCertificateAuthentication.SerializedCertificateClaimsMapping" value="#{ClientCertificateAuthentication.SerializedCertificateClaimsMapping}" />

    <!-- Authentication Handlers Configuration -->
    <add key="SharedSecretAuthentication.Enabled"         value="#{SharedSecretAuthentication.Enabled}" />
    <add key="SharedSecretAuthentication.PrimaryKey"      value="#{SharedSecretAuthentication.PrimaryKey}" />
    <add key="SharedSecretAuthentication.SecondaryKey"    value="#{SharedSecretAuthentication.SecondaryKey}" />
    <add key="SharedSecretAuthentication.PrimarySecret"   value="#{SharedSecretAuthentication.PrimarySecret}" />
    <add key="SharedSecretAuthentication.SecondarySecret" value="#{SharedSecretAuthentication.SecondarySecret}" />

    <!-- Controller Configuration -->
    <add key="OrderSubmissionController.OrderAcceptedRetryAfterInSeconds"       value="#{OrderSubmissionController.OrderAcceptedRetryAfterInSeconds}" />
    <add key="OrderSubmissionController.ServiceUnavailableeRetryAfterInSeconds" value="#{OrderSubmissionController.ServiceUnavailableeRetryAfterInSeconds}" />
    <add key="OrderSubmissionController.RetryAfterJitterUpperBoundInSeconds"    value="#{OrderSubmissionController.RetryAfterJitterUpperBoundInSeconds}" />

    <!-- Command Publisher Configuration -->
    <add key="ProcessOrderServiceBusQueueCommandPublisher.ServiceBusConnectionString"                  value="#{ProcessOrderServiceBusCommandPublisher.ServiceBusConnectionString}" />
    <add key="ProcessOrderServiceBusQueueCommandPublisher.QueueName"                                   value="#{ProcessOrderServiceBusCommandPublisher.QueueName}" />
    <add key="ProcessOrderServiceBusQueueCommandPublisher.RetryMaximumAttempts"                        value="#{ProcessOrderServiceBusQueueCommandPublisher.RetryMaximumAttempts}" />
    <add key="ProcessOrderServiceBusQueueCommandPublisher.RetryMinimalBackoffTimeSeconds"              value="#{ProcessOrderServiceBusQueueCommandPublisher.RetryMinimalBackoffTimeSeconds}" />
    <add key="ProcessOrderServiceBusQueueCommandPublisher.RetryMaximumlBackoffTimeSeconds"             value="#{ProcessOrderServiceBusQueueCommandPublisher.RetryMaximumlBackoffTimeSeconds}" />
    <add key="SubmitOrderForProductionServiceBusQueueCommandPublisher.ServiceBusConnectionString"      value="#{SubmitOrderForProductionServiceBusQueueCommandPublisher.ServiceBusConnectionString}" />
    <add key="SubmitOrderForProductionServiceBusQueueCommandPublisher.QueueName"                       value="#{SubmitOrderForProductionServiceBusQueueCommandPublisher.QueueName}" />
    <add key="SubmitOrderForProductionServiceBusQueueCommandPublisher.RetryMaximumAttempts"            value="#{SubmitOrderForProductionServiceBusQueueCommandPublisher.RetryMaximumAttempts}" />
    <add key="SubmitOrderForProductionServiceBusQueueCommandPublisher.RetryMinimalBackoffTimeSeconds"  value="#{SubmitOrderForProductionServiceBusQueueCommandPublisher.RetryMinimalBackoffTimeSeconds}" />
    <add key="SubmitOrderForProductionServiceBusQueueCommandPublisher.RetryMaximumlBackoffTimeSeconds" value="#{SubmitOrderForProductionServiceBusQueueCommandPublisher.RetryMaximumlBackoffTimeSeconds}" />

    <!-- Event Publisher Configuration -->
    <add key="EventBaseServiceBusTopicEventPublisher.ServiceBusConnectionString"      value="#{EventBaseServiceBusTopicEventPublisher.ServiceBusConnectionString}" />
    <add key="EventBaseServiceBusTopicEventPublisher.TopicName"                       value="#{EventBaseServiceBusTopicEventPublisher.TopicName}" />
    <add key="EventBaseServiceBusTopicEventPublisher.RetryMaximumAttempts"            value="#{EventBaseServiceBusTopicEventPublisher.RetryMaximumAttempts}" />
    <add key="EventBaseServiceBusTopicEventPublisher.RetryMinimalBackoffTimeSeconds"  value="#{EventBaseServiceBusTopicEventPublisher.RetryMinimalBackoffTimeSeconds}" />
    <add key="EventBaseServiceBusTopicEventPublisher.RetryMaximumlBackoffTimeSeconds" value="#{EventBaseServiceBusTopicEventPublisher.RetryMaximumlBackoffTimeSeconds}" />
  </appSettings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />          
      <customErrors mode="RemoteOnly" xdt:Transform="Replace" />
  </system.web>
</configuration>